<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container">
        <a class="navbar-brand logo" routerLink="/"><img src="../../../assets/aconchega.jpeg" width="100" alt=""></a>
        

            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav ml-auto">

                            <!-- SOBRE NOS -->
                            <li class="nav-item" role="presentation" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" routerLink="/sobrenos">Sobre Nós </a></li>
                            
                            <!-- EVENTOS -->
                            <li class="nav-item dropdown" role="presentation" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a class="nav-link dropdown-toggle"  id="navbarDropdown1"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Eventos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                    <a class="dropdown-item nav-link" style="padding-left:23px" routerLink="eventos">Eventos</a>
                                    <div class="dropdown-divider"></div>
                                  <a class="dropdown-item nav-link" style="padding-left:23px" routerLink="eventos/workshops">Workshops</a>
                                </div>
                              </li>

                              <!-- ALIMENTACAO -->
                            <li class="nav-item dropdown" role="presentation" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a class="nav-link dropdown-toggle"  id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Alimentação
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                  <a class="dropdown-item nav-link" style="padding-left:23px" routerLink="/alimentacao">Alimentação</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item nav-link" style="padding-left:23px" routerLink="/alimentacao/nutricao">Aconselhamento Alimentar</a>
                                  <a class="dropdown-item nav-link" style="padding-left:23px" routerLink="/alimentacao/receitas">Receitas</a>
                                  <a class="dropdown-item nav-link" style="padding-left:23px" routerLink="/alimentacao/showcooking">Showcooking</a>
                                </div>
                              </li>

                              <!-- PSICOLOGIA -->
                            <li class="nav-item dropdown" role="presentation" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Psicologia
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                  <a class="dropdown-item nav-link" style="padding-left:23px" routerLink="/psicologia">Psicologia</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item nav-link" style="padding-left:23px" routerLink="/psicologia/motivacao">Motivação</a>
                                  <a class="dropdown-item nav-link" style="padding-left:23px" routerLink="/psicologia/meditacao">Meditação</a>
                                  <a class="dropdown-item nav-link" style="padding-left:23px" routerLink="/psicologia/empoderamento">Empoderamento</a>
                                </div>
                              </li>

                              <!-- ACCAO SOCIAL -->
                            <li class="nav-item" role="presentation" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" routerLink="/accaosocial">Acção Social</a></li>

                            <!-- APOIO JURIDICO -->
                            <li class="nav-item" role="presentation" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" routerLink="/apoiojuridico">Apoio Jurídico</a></li>


                              <!-- DESPORTO -->
                            <li class="nav-item dropdown" role="presentation" data-toggle="collapse" data-target=".navbar-collapse.show">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Desporto
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                 <a class="dropdown-item nav-link" style="padding-left:23px" routerLink="/desporto">Desporto</a>
                                    <div class="dropdown-divider"></div>
                                  <a class="dropdown-item nav-link" style="padding-left:23px" routerLink="/desporto/lazer">Lazer</a>
                                  <a class="dropdown-item nav-link" style="padding-left:23px" routerLink="/desporto/criancas">Crianças</a>
                                  <a class="dropdown-item nav-link" style="padding-left:23px" routerLink="/desporto/idosos">Idosos</a>
                                  <a class="dropdown-item nav-link" style="padding-left:23px" routerLink="/desporto/actividadesludicas">Actividades Lúdicas</a>
                                </div>
                              </li>
                        </ul>
                    </div>
    </div>
</nav>