<div class="content" style="margin-left:11%; margin-right: 11%; margin-top: 5%;">
    <h1 style="text-align: left; font-size: 25px; font-weight: 700; margin-top: 30px; margin-bottom: 20px;">Apoio Jurídico</h1>
    <div style="height: 400px; margin-top: 20px; font-size: 17px;">
        O conhecimento, pelos cidadãos, dos seus direitos e deveres mostra-se uma ferramenta essencial para enfrentar os desafios que a atual situação económica, social e humana nos coloca. Desde a relação laboral, com os bancos, passando pelos acessos a apoios sociais e estruturais, neste espaço será disponibilizada informação relevante que, assim, contribuirá para uma melhor gestão da vida financeira, laboral e familiar.
        <p></p>
        <b> A nossa equipa é constituída por:</b> 
        <p></p> <p></p> <p></p>
        
        <div class="row">
            <div class="column col-12 col-md-12 col-log-12" style="text-align: center;">
                <img src="../../../assets/martagon.jpeg" class="imageDesporto" height="250" style="border-radius: 5px;" alt="Image Not Found">
                <p></p>
                <b>Marta Gonçalves</b>
                <div style="font-size: 13px;">        
                    Licenciada em Direito pela Universidade do Minho. Exerce advocacia em Braga desde 2008, com especial incidência nas áreas do Direito Laboral, Civil, Comercial, Administrativo e na assessoria jurídica ao setor social. Voluntária em instituições de solidariedade social. Integra várias associações de cariz social e desportivo. Amante de música, livros e desporto, acredita na empatia como um dos instrumentos essenciais no combate ao flagelo social.
                </div>
                 <p></p> <p></p>    
            </div>
        </div>
    </div>
    <br>
</div>



