<div class="content" style="margin-left:11%; margin-right: 11%; margin-top: 5%;">
    <h1 style="text-align: left; font-size: 25px; font-weight: 700; margin-top: 30px; margin-bottom: 20px;">Psicologia</h1>
    <div style="height: 400px; margin-top: 20px; font-size: 17px;">

        Numa altura em que se verifica que a pandemia teve um grande impacto na saúde mental e bem-estar, acreditamos numa intervenção no quotidiano das pessoas a fim de prevenir sintomas de ansiedade, depressão, problemas matrimoniais. 
        <p></p>
        É necessário compreender as relações humanas, as diferentes situações que podem afetar emocionalmente uma pessoa. Desta forma, teremos ações e workshops de motivação, meditação e empoderamento para podermos ajudar-te nos momentos mais difíceis.         
        <p></p>
        <b> A nossa equipa é constituída por:</b> 
        <p></p> <p></p> <p></p>

        <div class="row">
            <div class="column col-12 col-md-12 col-log-12" style="text-align: center;">
                <img src="../../../assets/ritameira.jpeg" class="imageDesporto" height="250" style="border-radius: 5px;" alt="Image Not Found">
                <p></p>
                <b>Rita Meira</b>
                <div style="font-size: 14px;">        
                    - Membro da Ordem dos Psicólogos Portugueses <p></p>
                    - Especialista em Psicologia Clínica e da Saúde <p></p>
                    - Mestrado em Psicologia pela Universidade do Minho <p></p>
                    - Especialidade em Sexologia Clínica e em Terapia de Casal pelo INSPSIC
                </div>
                 <p></p> <p></p>    
            </div>
        </div>
    </div>
    <br>
</div>