<div style="margin-left:11%; margin-right: 11%; margin-top: 5%;">
    <h1 style="text-align: left; font-size: 25px; font-weight: 700; margin-top: 30px; margin-bottom: 20px;">Idosos</h1>
    <div style="height: 400px; margin-top: 20px; font-size: 17px;">
   
        O aumento do consumo de fast food e alimentos industrializados é um dos grandes vilões da atualidade. 
        Além disso, a correria do dia a dia e as mudanças do estilo de vida da população tem contribuído diretamente para a baixa qualidade da alimentação. 
        <p></p>
        Problemas como a obesidade e doenças cardíacas são cada vez mais frequentes e possuem relação direta com a falta de uma alimentação saudável.
        
        <p></p>
        <b>Nesta área poderão encontrar informações sobre nutrição e uma alimentação saudável, assim como várias receitas fáceis de elaborar, deliciosas, saudáveis e com todos os nutrientes necessários.</b> 
    </div>
    <br>
</div>



