/* FOOTER */
.footer {
  position: relative;
  bottom: 0;
  background-color:rgb(255, 255, 255);
  color:White;
  width: 100%;

}

.page-footer {
    background-color:#ffffff;
    text-align:center;
  }
  
  /* TITLE H5 */
  .page-footer h5 {
    color:rgb(255, 255, 255);
    font-size:15px;
    font-weight:700;
    margin-top:20px;
  }
  
  /* ICONS */
  .page-footer li {
    font-size: 14px;
  }
  
  /* SOCIAL ICONS */
  .clean-block.add-on.social-icons .icons i {
    line-height:45px;
  }
  
  .clean-block.add-on.social-icons .icons a {
    font-size:24px;
    margin-right:4px;
    color:#6aacf3;
    border:1px solid;
    opacity:.75;
    border-radius:50%;
    width:45px;
    height:45px;
    display:inline-block;
    text-align:center;
  }
  
  .clean-block.add-on {
    padding:50px 0;
    text-align:center;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-pack:center;
    justify-content:center;
    -ms-flex-direction:column;
    flex-direction:column;
  }
  
  