@media (max-width: 575px) {
    .imageDesporto {
      height: 200px;
      max-width: 100vw;
    }

  }

  @media (min-width:576px) {
    .content {
      min-height:1100px;
    }
  
  }
  
  @media (max-width: 575px) {
    .content {
      min-height: 2700px;
    }
}