<div style="margin-left:11%; margin-right: 11%; margin-top: 5%; margin-bottom: 400px;">
    <h1 style="text-align: left; font-size: 25px; font-weight: 700; margin-top: 30px; margin-bottom: 20px;">Desporto</h1>
    <div style="height: 400px; margin-top: 20px; font-size: 17px;">
        A prática de exercício físico contribui em 20% para o nosso bem-estar e os benefícios para a saúde geralmente são obtidos através de, pelo menos, 30 minutos de atividade física diária. 
        <p></p>
        A atividade desportiva promove a redução do risco de morte por doenças cardíacas, AVC ou morte prematura, redução do risco de desenvolver cancro do cólon e diabetes tipo 2, prevenção de hipertensão e osteoporose, manutenção das estruturas musculares, ósseas e articulares, redução de stress, ansiedade e depressão e prevenção de excesso de peso e obesidade.
        <p></p>
        Dentro das atividades físicas moderadas que poderá realizar diariamente encontram-se caminhadas, subir escadas, jardinagem, dançar e muitos outros desportos recreativos quando temos objetivos mais específicos. 
        Abordaremos assim vários desportos e a atividade física para todas as idades, incluindo crianças e idosos.
        
        <p></p>
        A nossa equipa é composta por: <br>
        <div class="row" style="margin-top: 20px;">
            <div class="column col-4 col-md-4 col-log-4" style="text-align: center;">
                
                <img src="../../../assets/jenny.jpeg" class="imageDesporto" height="200" style="border-radius: 5px;" alt="Image Not Found">
                <br> <br> <b>Jenny Santos</b> 
            </div>
            <div class="column col-4 col-md-4 col-log-4" style="text-align: center;">
                
                <img src="../../../assets/elsa.jpeg" class="imageDesporto" height="200" style="border-radius: 5px;" alt="Image Not Found">
                <br> <br>
                <b>Elsa Gonçalves</b>
            </div>
            <div class="column col-4 col-md-4 col-log-4" style="text-align: center;">
                <img src="../../../assets/hilario.jpeg" class="imageDesporto" height="200" style="border-radius: 5px;" alt="Image Not Found">
                <br> <br>
                <b>Hilário Silva</b>
            </div>
        </div>

        
    </div>
    <br>
</div>



