<div style="margin-left:11%; margin-right: 11%; margin-top: 5%; margin-bottom: 400px;">
    <h1 style="text-align: left; font-size: 25px; font-weight: 700; margin-top: 30px; margin-bottom: 20px;">Sobre Nós</h1>
    <div style="height: 400px; margin-top: 20px; font-size: 17px;">
        O Aconchega é um projeto pensado há muito tempo para unir simpatias e propósitos. A solidariedade é um ato de bondade e compreensão com o próximo e nesse sentido abraçamos todo o indivíduo independentemente da sua raça, etnia, classe social e capacidade financeira.
        <br> <br> Este contexto que vivemos desde 2020 impulsionou mais ainda a criação do nosso projeto, uma vez que estamos em casa, longe de quem gostamos, afastados de sentimentos e emoções que o dia-a-dia nos traz. 
        Esta situação não é, de todo, normal para o ser humano e tem como consequência, tristeza, depressão, melancolia e desmotivação. Neste sentido, o Aconchega surge para tentar colmatar as dificuldades diárias das pessoas, trazer mais esperança, dar mais alento. <br> <br> <br> <br>
        <b>Esperamos que encontres aconchego no nosso abraço,</b> <br> <br>
        Jenny Santos & Marta Cerqueira Gonçalves
    </div>
    <br>
</div>
